@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,100&display=swap');

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.header {
    padding: 0px 30px;
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-items {
    padding: 50px 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-items h1 {
    font-size: 45px;
}

.nav-otp {
    color: #FD6E0A;
}

.nav-link {
    display: flex;
    align-items: center;

}

.nav-link>li {
    list-style: none;
    margin-left: 25px;
}

.btn-primary {
    background-color: #FD6E0A;
    border: 0px;
    Width: 200px;
    border-radius: 5px;
    padding: 10px 30px;
    color: #FFFFFF;
    font-size: 20px;
    transition: .5s;

}

.btn-primary:hover {
    background-color: #fd5b0a;

}

/************* nav end************* */
.bannar-section {
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bannar-info h1 {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 10px;
}

.bannar-info p {
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 30px;
}
/* bannar  */


/* about */
.about{
    padding: 50px 200px;
    text-align: center;
    background-color: #FFF8F3;
    border-radius: 10px;
}
.about h1 {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
}
.about p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
  
}
.about-info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;

}
.about-info h3{
    color: #474747;
    font-style: Bold;
    font-size: 20px;
}

/* experience */
.experience{
    text-align: center;
    padding: 50px 200px;

}
.experience h1 {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 35px;
}
.experience p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
  
}

.card{
    display: flex;
}
.single-card{
    text-align: left;
    margin-left: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.single-card h4 {
    margin: 20px 0px;
}
.single-card p {
    font-size: 14px;
    color: #757575;
}
/* resume */
.resume-title{
    font-weight: 700px;
    color: #181818;
    font-size: 35px;
    text-align: center;
}
.resume-content{
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education-title{
    text-align: center;
color: #0c0202;
font-style: normal;
font-weight: 700;
font-size: 30px;
margin: 30px 0px;
}

.education{
padding: 0px 40px;
}
hr{
    margin: 20px 0px;
width: 500px;
align-items: center;
}
.education-part h2{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.education-part h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.education-part p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;


}

.btn{
margin-left: 570px;
}